<% include ./public/header.html%>
<!--超小屏下点击菜单展开-->
<script>
    //<!--设备切换自动刷新一次============================================增-->
    $("window").resize(function(){
        var width=$(Window).width();
        if(width>768){
            location.reload();
        };
    })
    //<!--超小屏下点击菜单展开-->
    //外层滑入滑出
    $(".navbar-toggle").on("click",function () {
        $(".mb_nav").slideToggle(500);
    });
    //子菜单滑入滑出
    function toggle_slide(all,item){
        all.on("click",function () {
            item.slideToggle(500);
        });
    }
    toggle_slide($(".mb_hit_01"),$(".mb_ulShow_01"));
    toggle_slide($(".mb_hit_02"),$(".mb_ulShow_02"));
    toggle_slide($(".mb_hit_03"),$(".mb_ulShow_03"));
    toggle_slide($(".mb_hit_04"),$(".mb_ulShow_04"));
</script>


<!--三页面公共部分-除了联系我们-->
<!--公共部分增加了隐藏类名hidden-xs=============================================改-->
<div class="common">
    <!--此处隐藏类名hidden-xs-->
    <div class="top_bac hidden-xs">
        <img src="images/page_big_02.jpg" alt=""/>
    </div>
    <div class="container">
        <div class="row">
            <!--产品部分-->
            <div class="min_nav">
                <div class="min_nav_content">
                    <a href="companyDyanmicc.html" class="min_nav_bnt tableActive">公司新闻</a>
                    <a href="companyDyanmicc_next.html" class="min_nav_bnt">行业动态</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--主体部分-->
<!--整个部分增加了隐藏类名hidden-xs=============================================改-->
<div class="companyDyanmicc_son hidden-xs">
    <div class="engin_content engin_content_li">
        <div class="container">
            <div class="row">
                <!--循环部分-->
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html">
                            <div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg Dyanmicc_pic">
                                <img src="images/new_01.jpg" alt=""/>
                            </div>
                        </a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="rednew"></span>
                                <h4 >11水是我们赖以生存的物质11水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="bluenew"></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="rednew"></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="bluenew"></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="rednew"></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="bluenew "></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="rednew"></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>
                <div class="col-sm-12 companyDyanmicc_cot ">
                    <div class="row">
                        <a href="DetailPages.html"><div class="col-xs-3 col-sm-3 hidden-sm hidden-md hidden-lg"><img src="images/new_01.jpg" alt=""/></div></a>
                        <div class="col-xs-9 col-sm-9">
                            <a href="DetailPages.html">
                                <!--热点类名-->
                                <span class="bluenew "></span>
                                <h4 >水是我们赖以生存的物质</h4>
                            </a>
                            <a href="DetailPages.html">
                                <div class="cont_p">
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康,
                                    水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......
                                    <b class="hidden-xs">2016-12-15</b>
                                </div>
                            </a>
                        </div>
                        <a href="DetailPages.html"><div class="col-sm-3 hidden-xs"><img src="images/new_01.jpg" alt=""/></div></a>
                        <a href="DetailPages.html"><div class="col-xs-12 companyDyanmicc_mb  hidden-sm hidden-md hidden-lg"></div></a>
                    </div>
                </div>

                <!--分页-->
                <div class="col-sm-12">
                    <span class="pagina">
                        分页
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--超小屏增加的结构===========================================================增-->
<div class="companyDyanmicc hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 companyDyanmicc_cot">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ">
                        <a href="DetailPages.html">
                            <img src="images/drap_down02.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="DetailPages.html">
                            <span class=""></span>
                            <h4 >1水是我们赖以生存的物质水是我们赖以生存的物质水是我们赖以生存的物质1</h4>
                        </a>
                        <a href="DetailPages.html">
                            <p>水是我们赖以生存的物质水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......</p>
                        </a>
                    </div>
                    <div class="col-xs-12 companyDyanmicc_mb"></div>
                </div>
            </div>
            <div class="col-sm-12 companyDyanmicc_cot">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ">
                        <a href="DetailPages.html">
                            <img src="images/drap_down02.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="DetailPages.html">
                            <span class=""></span>
                            <h4 >水是我们赖以生存的物质</h4>
                        </a>
                        <a href="DetailPages.html">
                            <p>水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......</p>
                        </a>
                    </div>
                    <div class="col-xs-12 companyDyanmicc_mb"></div>
                </div>
            </div>
            <div class="col-sm-12 companyDyanmicc_cot">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ">
                        <a href="DetailPages.html">
                            <img src="images/drap_down02.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="DetailPages.html">
                            <span class=""></span>
                            <h4 >水是我们赖以生存的物质</h4>
                        </a>
                        <a href="DetailPages.html">
                            <p>水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......</p>
                        </a>
                    </div>
                    <div class="col-xs-12 companyDyanmicc_mb"></div>
                </div>
            </div>
            <div class="col-sm-12 companyDyanmicc_cot">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ">
                        <a href="DetailPages.html">
                            <img src="images/drap_down02.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="DetailPages.html">
                            <span class=""></span>
                            <h4 >水是我们赖以生存的物质</h4>
                        </a>
                        <a href="DetailPages.html">
                            <p>水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......</p>
                        </a>
                    </div>
                    <div class="col-xs-12 companyDyanmicc_mb"></div>
                </div>
            </div>
            <div class="col-sm-12 companyDyanmicc_cot">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ">
                        <a href="DetailPages.html">
                            <img src="images/drap_down02.png" alt=""/>
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="DetailPages.html">
                            <span class=""></span>
                            <h4 >水是我们赖以生存的物质</h4>
                        </a>
                        <a href="DetailPages.html">
                            <p>水是我们赖以生存的物质，我们需要节约,同样干净的水资源有助于我们的身心健康......</p>
                        </a>
                    </div>
                    <div class="col-xs-12 companyDyanmicc_mb"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--版权声明-->
<%include ./public/footer.html%>
<!--导航table鼠标经过显示-->
<script src="/public/default/js/jquery.min.js"></script>
<script src="/public/default/js/bootstrap.min.js"></script>
<script src="/public/default/js/swiper.min.js"></script>
<script>
    $(".dropdown_one").mouseenter(function () {
        $(".item_one").css({
            "display": "block"
        })
    })
    $(".dropdown_one").mouseleave(function () {
        $(".item_one").css({
            "display": "none"
        })
    })
    $(".dropdown_two").mouseenter(function () {
        $(".item_two").css({
            "display": "block"
        })
    })
    $(".dropdown_two").mouseleave(function () {
        $(".item_two").css({
            "display": "none"
        })
    })
    $(".dropdown_three").mouseenter(function () {
        $(".item_three").css({
            "display": "block"
        })
    })
    $(".dropdown_three").mouseleave(function () {
        $(".item_three").css({
            "display": "none"
        })
    })
    $(".dropdown_four").mouseenter(function () {
        $(".item_four").css({
            "display": "block"
        })
    })
    $(".dropdown_four").mouseleave(function () {
        $(".item_four").css({
            "display": "none"
        })
    })
  
    $("window").resize(function(){
        var width=$(Window).width();
        if(width>768){
            location.reload();
        };
    })

</script>
</script>
</body>

</html>