<!--版权声明-->
<!--pc端-->
<div class="copyright hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 pull-left">
                <div class="top_bar_right">
                    <a href="javascript:;"><img src="images/inico_tel.png" alt=""/></a>
                    <span>全国统一热线：</span>
                    <a href="tel:0532-8888****" class="tel_btm">0532-8888****</a>
                </div>
                <div class="cent_bar">
                    <span>手机号：1351542****2</span>
                    <span>电话：0516-8888****</span>
                    <span>邮箱：517930***@qq.com</span>
                    <span>公司地址：XXX新城区绿地商务城B01栋***室</span>
                </div>
            </div>
            <div class="col-xs-2 ">
                <div class="pull-right"><img src="images/btm_logo.png" alt=""/></div>
            </div>
        </div>
    </div>
</div>
<!--移动端-->
<div class="mb_copyright hidden-lg hidden-md hidden-sm">
    <div class="container">
        <div class="row">
            <div class="pull-right"><img src="images/btm_logo.png" alt=""/></div>
            <div class=" col-xs-12 top_bar_right">
                <a href="javascript:;"><img src="images/inico_tel.png" alt=""/></a>
                <span>全国统一热线：</span>
                <a href="tel:0532-8888****" class="tel_btm">0532-8888****</a>
            </div>
            <div class="col-xs-12 cent_bar">
                <span>手机号：1351542****2</span>
                <span>电话：0516-8888****</span>
                <span>邮箱：517930***@qq.com</span>
                <span>公司地址：XXX新城区绿地商务城B01栋***室</span>
            </div>
        </div>
    </div>
</div>