<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>工程装修改</title>
    <!--核心组建-->
    <link rel="stylesheet" href="/public/default/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/default/css/swiper.min.css"/>
    <!--[if lt IE 9]>
    <script src="all/html5shiv.min.js"></script>
    <script src="all/respond.min.js"></script>
    <![endif]-->
    <!--自己的样式-->
    <link rel="stylesheet" type="text/css" href="/public/default/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/public/default/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/public/default/css/index_mb.css"/>
</head>
<body>
<!--固定顶部-->
<div class="top_bar hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="top_bar_left">
                    <a href="javascript:;"><img src="/public/default/images/logo.png" alt=""/></a>
                </div>
                <div class="top_bar_right">
                    <a href="tel:0532-8888****"><img src="/public/default/images/te_topl.png" alt=""/></a>
                    <span>全国统一热线：</span>
                    <a href="tel:0532-8888****">0532-8888****</a>
                </div>

            </div>
        </div>
    </div>
</div>


<!--顶部导航-->
    <!--导航内增加隐藏类名hidden-xs--==================================改-->
<div class="top_navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <!-- logo和切换到移动端的按钮组 -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand hidden-lg hidden-md hidden-sm" >
                        <img src="/public/default/images/logo.png" alt=""/>
                        <!--此处修改加了个隐藏类名hidden-xs-->
                        <img class="mb_top_tel hidden-xs" src="/public/default/images/mb_top_tel.png" alt=""/>
                    </a>
                    <!--此处添加了隐藏类名hidden-lg hidden-md hidden-sm-->
                    <a href="tel:0516-87733388" class="nabar_tel hidden-lg hidden-md hidden-sm"><img src="/public/default/images/mb_tel.fw.png" alt=""/></a>
                </div>
                <!--此处增加一个隐藏类名hidden-xs-->
                <div class="navbar-collapse hidden-xs" >
                    <ul class="nav navbar-nav">
                        <li> <a href="/index" class="nav_first">首页</a></li>
                        <li class="dropdown dropdown_one">
                            <a href="">走进公司 </a>
                            <ul class="dropdown-menu item_one">
                                <li class="dropdown-menu_one ">
                                    <a href="companySynopsis.html"><img src="/public/default/images/drap_down01.png" alt=""/></a>
                                    <a href="companySynopsis.html" class="dropdown-menu_title"><h4>公司简介</h4></a>
                                </li>
                                <li class="dropdown-menu_one">
                                    <a href="companySynopsis_next.html"><img src="/public/default/images/drap_down02.png" alt=""/></a>
                                    <a href="companySynopsis_next.html" class="dropdown-menu_title"><h4>人才招聘</h4></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown_two">
                            <a href="projectCase.html" >工程案例</a>
                            <ul class="dropdown-menu item_two">
                                <li class="dropdown-menu_one ">
                                    <a href="projectCase.html"><img src="images/drap_down01.png" alt=""/></a>
                                    <a href="projectCase.html" class="dropdown-menu_title"><h4>设计风格</h4></a>
                                </li>
                                <li class="dropdown-menu_one">
                                    <a href="projectCase_next.html"><img src="images/drap_down02.png" alt=""/></a>
                                    <a href="projectCase_next.html" class="dropdown-menu_title"><h4>室内效果</h4></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="projectCase.html">设计精英</a></li>
                        <li class="dropdown dropdown_three">
                            <a href="companyDyanmicc.html">新闻资讯</span></a>
                            <ul class="dropdown-menu item_three">
                                <li class="dropdown-menu_one ">
                                    <a href="companyDyanmicc.html"><img src="images/drap_down01.png" alt=""/></a>
                                    <a href="companyDyanmicc.html" class="dropdown-menu_title"><h4>公司新闻</h4></a>
                                </li>
                                <li class="dropdown-menu_one">
                                    <a href="companyDyanmicc_next.html"><img src="images/drap_down02.png" alt=""/></a>
                                    <a href="companyDyanmicc_next.html" class="dropdown-menu_title"><h4>行业动态</h4></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown_four">
                            <a href="projectCase.html">装修课堂</a>
                            <ul class="dropdown-menu item_four">
                                <li class="dropdown-menu_one ">
                                    <a href="DetailPages.html"><img src="images/drap_down01.png" alt=""/></a>
                                    <a href="DetailPages.html" class="dropdown-menu_title"><h4>装修知识</h4></a>
                                </li>
                                <li class="dropdown-menu_one">
                                    <a href="DetailPages.html"><img src="images/drap_down02.png" alt=""/></a>
                                    <a href="DetailPages.html" class="dropdown-menu_title"><h4>装修指南</h4></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contactUs.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
    <!--此处增加一个隐藏类名hidden-xs--==================================改-->
<div class="navbar_btm hidden-xs"></div>
    <!--超小屏下顶部导航--=============================================增-->
<div class="mb_top_navbar  hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <ul class="mb_nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li class="mb_hit_01">
                    <a href="#">走进公司</a>
                    <ul class="mb_ulShow_01">
                        <li><a href="companySynopsis.html">公司简介</a></li>
                        <li><a href="companySynopsis_next.html">人才招聘</a></li>
                    </ul>
                </li>
                <li class="mb_hit_02">
                    <a href="#">工程案例</a>
                    <ul class="mb_ulShow_02">
                        <li><a href="projectCase.html">设计风格</a></li>
                        <li><a href="projectCase_next.html">室内效果</a></li>
                    </ul>
                </li>
                <li><a href="#">设计精英</a></li>
                <li class="mb_hit_03">
                    <a href="#">新闻资讯</a>
                    <ul class="mb_ulShow_03">
                        <li><a href="companyDyanmicc.html">公司新闻</a></li>
                        <li><a href="companyDyanmicc_next.html">行业动态</a></li>
                    </ul>
                </li>
                <li class="mb_hit_04">
                    <a href="#">装修课堂</a>
                    <ul class="mb_ulShow_04">
                        <li><a href="DetailPages.html">装修知识</a></li>
                        <li><a href="DetailPages.html">装修指南</a></li>
                    </ul>
                </li>
                <li><a href="contactUs.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>